
<%= form_for(@user, url: profile_path) do |f| %>
  <p>First name:</p>
  <%= f.text_field :first_name %>
  <p>Last name:</p>
  <%= f.text_field :last_name %>
  <p>Phone number:</p>
  <%= f.text_field :phone_number %>
  <% if @user.owner == true %>
    <p>Company name:</p>
  <%= f.text_field :company_name %>
  <% end %>
  <%= f.submit %>
<% end %>

<%= link_to "Change my password", edit_user_registration_path(@user) %>
