
<h2><%= @user.first_name %><%= @user.last_name %></h2>
<p>_________________________________________</p>

<% if @user.owner == true %>
  <%= render 'shared/profile_owner' %>
<% else %>
  <%= render 'shared/profile_procreator' %>
<% end %>

<%= link_to "Edit profile", edit_profile_path(@user) %>

<p>_________________________________________</p>

<h3> <%= link_to "List of all activities", activities_path %> </h3>
