
<p>Photo if not facebook user:</p>
<img src=<%= @user.photo %>>
<p>Photo if facebook user:</p>
<%= @user.picture %>
<p>Type of account: Regular user</p>
<p>E-mail:</p>
<%= @user.email %>
<p>Phone number:</p>
<%= @user.phone_number %>

<%= link_to "Edit profile", edit_profile_path(@user) %>

<%= link_to "My bookings", procreator_bookings_path(@user) %>
