<h2 class='title-create text-center'>Update your activity</h2>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-offset-3 col-md-6">
<%= form_for(@activity, url:owner_activity_path, class:"form-inline")  do |f| %>
  <div class="form-group">
  <div class="field">
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
  <%= f.label :photo %>
  <%= f.file_field :photo %>
  <%=f.hidden_field :photo_cache%>
  <%= f.label :description %>
  <%= f.text_area(:description, size: "24x6", class: "form-control") %>
  <%= f.label :category %>
  <%= f.text_field :category, class: "form-control" %>
  <%= f.label :address %>
  <%= f.text_field :address, class: "form-control" %>
  <%= f.label :city %>
  <%= f.text_field :city, class: "form-control" %>
  <%= f.label :period_beginning %>
  <%= f.text_field :period_beginning, class: "form-control" %>
  <%= f.label :period_ending %>
  <%= f.text_field :period_ending, class: "form-control" %>
  <%= f.label :price %>
  <%= f.text_field :price, class: "form-control" %>
  </div>
  <%= f.submit :update, class:"btn btn-primary form-control" %>
  </div>
<% end %>
    </div>
  </div>
</div>
