<div id="map" style="width: 100%; height: 320px;"></div>

<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).on('ready', function() {
handler = Gmaps.build('Google');
handler.buildMap({ internal: { id: 'map' } }, function(){
markers = handler.addMarkers(<%= raw @markers.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
});
})
<% end %>
<% end %>

<div class="search-geocode text-center">
<%= form_tag activities_path, method: :get do %>
<%= label :location, "Search activities near : " %>
<%= text_field_tag :location, params[:location], placeholder: "type the ideal city for your child activity",class:"location" %>

<%= label :distance, "Distance : " %>
<%= text_field_tag :distance, params[:distance], placeholder: "km around",class:"distance"  %>

<%= submit_tag "Search", class:"bt btn-danger" %>
<% end %>
</div>


<!-- insert your profile header -->
<div class="container">
  <div class="row">
    <%@activities.each do |activity| %>
    <div class="col-xs-12 col-md-4">
    <%=link_to activity_path(activity), class: 'card-link' do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "physical.jpg" %>');">
      <%end  %>
        <div class="card-category">
          <%=activity.category %>
        </div>
        <div class="card-description">
          <h2><%=activity.name %></h2>
          <p><%=activity.description %></p>
        </div>
        <%=cl_image_tag activity.photo, class: "card-user avatar" %>
      </div>
    </div>
    <% end %>
  </div>


