
<h2><%= @activity.name %></h2>
<p>Photo:</p>
<img src=<%= @activity.photo %>>
<p>Description:</p>
<%= @activity.description %>
<p>City:</p>
<%= @activity.city %>
<p>Address:</p>
<%= @activity.address %>

<p>Time period, from <%= @activity.period_beginning %> till <%= @activity.period_ending %></p>


<h3> <%= link_to "List of all activities", activities_path %> </h3>
